body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: sans-serif;
	background-color: #ffffff;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header{
	background : linear-gradient(to right, #000000, #696969);  
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #000000 
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

ul{
	margin: 0;
	padding: 0;
}

header #branding, header .active a{
	color: rgb(255, 255, 255);
	font-weight: bold;
}

header a:hover{
	color: #696969;
	font-weight: bold;
}

#showcase{
	min-height: 400px;
	background: url(img/showcase.png) no-repeat 0px -70px;
	text-align: center;
	color: #46044d;
}

#showcase h1{
	margin-top: 120px;
	font-size: 55px;
	margin-bottom: 10px;
	text-shadow: 2px 2px 5px #696969;
}

#showcase p{
	font-size: 20px;
}

#newsletter{
	padding: 15px;
	color: #fff;
	background : linear-gradient(to right, #696969,  #000000);  
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

.buttonsubs{
	height: 38px;
	background-color: #a70000;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: rgb(255, 255, 255);
}

#boxes{
	margin-top: 20px;
}



#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box img{
	width: 90px;
}

#boxes .box a {
	background-color: #ffe600;
    left: 0;
    width: 80%;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 5px;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background : linear-gradient(to right, #696969, #000000); 
	text-align: center;
}

/*Media Query*/
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box

	{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 40px;
	}

	#newsletter button{
		display: block;
		width: 100%;
	}

	#newsletter input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}


}
